<div class="container">
    <div class="row">
        <div class="col-md-2 mt-3">
            <a routerLink="article">
            <div class="card" style="width: 15rem;background-color: rgba(220, 236, 231, 0.415);">
                <div class="wrapper">
                <img src="../../assets/journal.png" class="card-img-top mt-3" alt="...">
            </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Upload Article</h5>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-2 mt-3 ms-5">
            <a routerLink="articles">
                <div class="card" style="width: 15rem;background-color: rgba(234, 236, 220, 0.415);">
                    <div class="wrapper">
                    <img src="../../assets/folder.png" class="card-img-top mt-3" alt="...">
                </div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Consulter Articles</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


